<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            {% if home_content.site_logo_url %}
                <img src="{{ home_content.site_logo_url }}" alt="{{ home_content.site_name or 'Yonca' }}" height="40">
            {% else %}
                <span translate="no">{{ home_content.site_name or 'Yonca' }}</span>
            {% endif %}
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" data-nav="home">{{ _('Home') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#courses" data-nav="courses">{{ _('Courses') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#forum" data-nav="forum">{{ _('Forum') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#resources" data-nav="resources">{{ _('Resources') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#tavi-test" data-nav="tavi-test">{{ _('TAVI Test') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#about" data-nav="about">{{ _('About') }}</a>
                </li>

                <li class="nav-item">
                    {% set lang_cycle = {'en': 'az', 'az': 'ru', 'ru': 'en'} %}
                    {% set lang_names = {'en': 'English', 'az': 'Azeri', 'ru': 'Russian'} %}
                    <a class="nav-link" href="/set_language/{{ lang_cycle.get(current_locale, 'az') }}" onclick="sessionStorage.setItem('scrollPosition', window.scrollY);">🌐 {{ lang_names.get(current_locale, 'English') }}</a>
                </li>

                {% if is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown">
                            {{ current_user.username }}
                        </a>
                        <div class="dropdown-menu">
                            {% if current_user.is_admin %}
                            <a class="dropdown-item" href="/admin/">{{ _('Admin Panel') }}</a>
                            <div class="dropdown-divider"></div>
                            {% endif %}
                            <a class="dropdown-item" href="{{ url_for('auth.google_account_info') }}" style="color: #337A2C; font-weight: 600;">{{ _('Link Google Account') }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">{{ _('Logout') }}</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">{{ _('Login') }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>