[Unit]
Description=Gunicorn instance to serve Yonca
After=network.target
Requires=postgresql.service

[Service]
User=magsud
Group=magsud
WorkingDirectory=/home/magsud/work/Yonca
Environment="PATH=/home/magsud/work/Yonca/venv/bin"
Environment="FLASK_ENV=production"
ExecStart=/home/magsud/work/Yonca/venv/bin/gunicorn --config gunicorn_config.py wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target